<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="styles/bootstrap.min.css" />
		<style>
			.message {
				font-size: 1.3em;
				font-weight: bold;
			}
		</style>
		<script src="angular.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<div class="container" ng-controller="LunchCheckController">
			<h1>{{title}}</h1>

			<div class="form-group">
				<input
					id="lunch-menu"
					type="text"
					placeholder="list comma separated dishes you usually have for lunch"
					label="peach,     , lemon,    , apple,"
					class="form-control"
					ng-model="textValue"
				/>
				<h5>{{warning}}</h5>
			</div>
			<div class="form-group">
				<button class="btn btn-default" ng-click="clickButton()">
					{{buttonLable}}
				</button>
			</div>
			<div class="form-group message">
				<!-- Your message can go here. -->
				{{clicked}}
			</div>
		</div>
	</body>
</html>
